/* General Styles */
html, body{
  background: url('../resources/bg_1.JPG') no-repeat center center fixed;
  margin: 0;
  padding:0;
  font-family: Arial, sans-serif;
  background-size: cover;
  align-items: center;
  color: white;
  overflow-x:hidden;
    height: 100vh;

}

/* Header */
#header {
    display: flex;
    width: 100%;
    max-width: 100vw; /* Ensures header never exceeds screen width */
    overflow: visible; /* show overflow */
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    padding: 0 20px;
    margin-bottom: 30px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box; /* Prevents extra width due to padding */ 
}


.header-img {
    height: 50px;
    width: auto;
    max-height: 150px;
    min-height: 20px;
    margin-bottom: 10px;
}

.center{
  position: absolute;
  height: 200px;
  left:27.5%;
}

.left{
  margin-top:10px;
}
.right{
  margin-top:10px;
  height: 70px;
}



.center-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw; /* Adjust as needed */
    height: 60vh; /* Adjust as needed */
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    border-radius: 20px; /* Curved edges */
    backdrop-filter: blur(2px); /* Blur effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.button {
    width: 50%; /* Each button takes half of the box */
    height: 100%; /* Full height */
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 10px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.left-button {
    /*background: rgba(255, 0, 0, 0.6); /* Red for Play */
    border-radius: 20px 0 0 20px; /* Rounded left */
}

.right-button {
    /*background: rgba(0, 0, 255, 0.6); /* Blue for Leaderboard */
    border-radius: 0 20px 20px 0; /* Rounded right */
}

.button:hover {
    box-shadow: 0 0 10px white;
    background: rgba(0, 0, 0, 0.6);
}

/* Make it responsive */
@media (max-width: 768px) {
    .leaderboard-container {
        width: 80%;
    }

    .header-img {
        height: 50px;
    }

    .background{
      background-size: contain;
      background-position: top center;
    }
}


.box{
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 10px; 
}
.hide{
  display: none;
}
.visible{
  display: block;
}